In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv('movies.csv', sep=',')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
ratings = pd.read_csv('ratings.csv', sep=',')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [39]:
rate = ratings.groupby('movieId').mean().round(1)[['rating']]
rate.head()

         rating
movieId
1           3.9
2           3.4
3           3.2
4           2.4
5           3.3

In [40]:
mr = movies.merge(rate, left_on='movieId', right_on='movieId').set_index('movieId')
mr.head()

,title,genres,rating
movieId,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.9
2,Jumanji (1995),Adventure|Children|Fantasy,3.4
3,Grumpier Old Men (1995),Comedy|Romance,3.2
4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.4
5,Father of the Bride Part II (1995),Comedy,3.3

In [27]:
def movie_rate(rating):
    if rating <= 2:
        return 'low rating'
    elif rating <= 4:
        return 'average rating'
    else:
        return 'high rating'

In [41]:
mr['class'] = mr['rating'].apply(movie_rate)
mr.head(10)

,title,genres,rating,class
movieId,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.9,average rating
2,Jumanji (1995),Adventure|Children|Fantasy,3.4,average rating
3,Grumpier Old Men (1995),Comedy|Romance,3.2,average rating
4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.4,average rating
5,Father of the Bride Part II (1995),Comedy,3.3,average rating
6,Heat (1995),Action|Crime|Thriller,3.9,average rating
7,Sabrina (1995),Comedy|Romance,3.3,average rating
8,Tom and Huck (1995),Adventure|Children,3.8,average rating
9,Sudden Death (1995),Action,3.2,average rating
10,GoldenEye (1995),Action|Adventure|Thriller,3.5,average rating